- if entry
  = link_to 'Отменить заявку', url_for(action: :destroy, controller: :entries, id: entry.id), method: :delete, class: 'text-danger'
- else
  = link_to 'Подать заявку', url_for(action: :create, controller: :entries, user_id: current_user.try(:id), event_id: event.id), method: :post, class: 'text-success'
