p
  | Hello #{@resource.email}!
p На этот E-mail была запрошена ссылка на изменение пароля. Для изменения пароля перейдите по ссылке ниже
p= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
p Если Вы не делали этот запрос, то просто проигнорируйте письмо.
p Ваш пароль не изменится пока Вы не перейдёте по ссылке и не укажете новый пароль
